.footer {
  background-color: #d29722;
  color: #fff;
  padding-left: 150px;
  text-align: center;

}

.sidebar {
  background-color: darkgoldenrod;
  width: 1550px;

}

.sidebar ul {
  list-style-type: none;
  padding-left: 150px;

  
}


.sidebar ul li a {
  text-decoration: none;
  color: #333;
  padding-left: 100px;
}




