.footer {
  background-color: #333;
  color: #fff;
  padding-left: 300px;
  text-align: center;
}

.sidebar {
  
  background-color: darkgoldenrod;
  width: 150px;

}

.sidebar ul {
  list-style-type: none;

  
}

.sidebar ul li {
  padding: 0.5rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

