.navbar {
  background-color: #582406;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.background-color {
  background-color: beige;
}

.navbar-logo {
  background-image: url(./assets/images/CELSO&VINOTHA.gif);
  font-size: 1.5rem;
  
}

.footer {
  background-color: #d29722;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.sidebar {
  background-color: rgba(196, 151, 38, 0.493);
  width: 1500px;

}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 0.5rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}
