.ctn{
    display: flex;
    gap: 50px;
    border: 1px solid white;
    margin: 0.5rem;
    padding: .5rem;
  }
  
  .img{
    width: 200px;
  }
  .logo{
    display: block;
  margin-left: 500px;
  margin-right: 200px;
  }
   .title{
    text-align: center;
    padding-left: 300px;
  } 
  
